.fig-1{
    height: auto;
    margin-left: 32%;
}

.fig-1__image{
    width: 100%;
    max-width: 330px;
    height: auto;
}

.fig-2{
    height: auto;
    margin-left: 32%;
}

.fig-2__image{
    width: 100%;
    max-width: 330px;
    height: auto;
}

.fig-3{
    height: auto;
    margin-left: 32%;
}

.fig-3__image{
    width: 100%;
    max-width: 330px;
    height: auto;
}

.fig-4{
    height: auto;
    margin-left: 33%;
}

.fig-4__image{
    width: 100%;
    max-width: 330px;
    height: auto;
}

.fig-5{
    height: auto;
    margin-left: 33%;
}

.fig-5__image{
    width: 100%;
    max-width: 330px;
    height: auto;
}